/*404_style.css*/

.error_image {      float: center;
                    position: relative;
                    margin-top: 20px;
                    margin-left: 20px;
                    left: 5%;}