
/* registration_styel.css*/

.registartion_container {  
					background-color: #476BB2;
                    float: left;
                    position: relative;
                    left: 10%;
                    width: 80%;
                    height: 50%;
                    margin-left: 20px;
                    margin-top: 20px;
                    margin-right: 20px;}